Flask
requests
beautifulsoup4
colorama
pystyle
selenium
pillow
psutil
gTTS
deep-translator
pytz
ffmpeg-python
pyfiglet
pycryptodome
munch
websockets
aiohttp
emoji
regex
pydub
yt-dlp
imageio
pygments
lunarcalendar
py-cpuinfo
google-auth
